- breadcrumb :listing_user, @user
.item-index__wrapper
  .item-index__container 
    .mypage-container
      .main-mypage
        .mypage-notification
          %ui.mypage-notification__tabs
            %li.mypage-notification__tabs__list.active
              = link_to "#" do
                出品中
            %li.mypage-notification__tabs__list
              = link_to "#" do
                取引中
            %li.mypage-notification__tabs__list
              = link_to "#" do
                売却済み
          .mypage-notification__tab-contents
            %ul.content.show
              - @items.each do |item|
                = render partial: "listing_item", locals:{item: item}
            %ul.content
              %li.content__not-found 現在やることはありません
      .side-mypage
        = render 'side_bar'