=form_with url: pay_item_purchases_path(@item) do |f|
  .perchace-new
    = render "purchases/header"

    .perchace-new__main
      .perchace-new__main__header 
        %h3 購入内容の確認
      .perchace-new__main__content
        .perchace-new__main__content__item
          .perchace-new__main__content__item__image
            = image_tag @item.images[0].image.url, height: '77px', width: '66px'
          .perchace-new__main__content__item__name 
            = @item.title
        .perchace-new__main__content__price
          %h4 
            = "￥ #{@item.price}"
          %p 
            = @item.shipping_charge === "送料込み(出品者負担)" ? "送料込み" : "着払い"
        .perchace-new__main__content__points ポイントはありません
        .perchace-new__main__content__costs 
          %p 支払い金額
          %p 
            = @item.price
        =form_with url: pay_item_purchases_path(@item), local: true do |f|
          =f.submit "購入する",class:"purchase-final-button" 
      .perchace-new__main__address
        .perchace-new__main__address-wrap
          %h4 配送先
          %p
            = current_user.postal_code
          %p 
            = current_user.prefectures
            = current_user.city
            = current_user.house_number
            = current_user.building_name
          %p
            = current_user.family_name
            = current_user.first_name 
          =link_to "変更する >", "#"
      .perchace-new__main__card
        .perchace-new__main__card-wrap
          %h4 支払い方法
          %p 
            = " **** **** **** #{@card_infomation.last4}"
          %p 
            = @card_infomation.exp_month.to_s + " " "/" 
            = @card_infomation.exp_year.to_s
          .perchace-new__main__card__image
            -# =image_tag("/assets/logo_visa.gif")
          =link_to "変更する >", "#"

    = render "purchases/footer"      
