-# ページタイトル
- content_for(:title) { 'ログイン - メルカリ サンプル' }

!!!
%html{lang: "ja"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "ie=edge, http-equiv, X-UA-Compatible"}/
    %title メルカリ
  %body
    %noscript
      %iframe{height: "0", src: "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", style: "display:none;visibility:hidden", title: "googletagmanager", width: "0"}
    .wrapper
      .container
        / ヘッダー
        %header
          .header__contents
            .header__contents-top
              .header__contents-top-logo
                %a.logo{href: "#"}
                  %img{alt: "Mercari", src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", class: "mercari-logo"}/

      -# コンテンツ
      .devise-main__session
        .devise-main__session__registration
          %p.devise-main__session__registration__head
          　　　  アカウントをお持ちでない方はこちら
          =link_to '新規会員登録', start_user_registration_path, class: 'devise-main__session__registration__link'

        .devise-main__session__omniauth
          = link_to start_user_registration_path, class: 'devise-main__session__omniauth__facebook' do
            = fa_icon 'facebook-square'
            Facebookでログイン
          = link_to start_user_registration_path, class: 'devise-main__session__omniauth__google' do
            = fa_icon 'google'
            Googleでログイン

        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'devise-main__session__form' }) do |f|
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス'
            - if resource.errors.messages[:email].present?
              - resource.errors.messages[:email].each do |message|
                %p.error= message
          .field
            = f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード'
            - if resource.errors.messages[:password].present?
              - resource.errors.messages[:password].each do |message|
                %p.error= message
          -# .field
          -#   = recaptcha_tags
          -#   - if resource.errors.messages[:base].present?
          -#     - resource.errors.messages[:base].each do |message|
          -#       %p.error= message
          .actions
            = f.submit "ログイン"
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to 'パスワードをお忘れの方', '#', class: 'devise-main__session__form__forgetting'
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー　
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約　
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
        %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195", :width => "80"}/
        %p
          %small © 2019 Mercari