=form_with model: item, local: true do |f|
  .exhibit-wrapper
    .exhibit-wrapper__header
      .exhibit-wrapper__header__logo
        = link_to root_path do
          =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", class: "mercari-logo")
    .exhibit-wrapper__main
      .exhibit-wrapper__main__header
        %h3 商品の情報を入力
      .exhibit-wrapper__main__image
        %h3 
          出品画像
          %span 必須
        %p 最大10枚までアップロードできます
        .exhibit-wrapper__main__image__cards{data:{exhibitid:0}}
          %label.exhibit-wrapper__main__image__drag-wrapper
            .exhibit-wrapper__main__image__drag
              %p ドラッグアンドドロップ
              %p またはクリックしてファイルをアップロード
            - item.images.each_with_index do |image, i|
              =image_tag image.image.to_s, class: "item-edit__image item-edit__image-#{i}"
            = f.fields_for :images do |i|
              =i.file_field :image, readonly: false, class: "exhibit-wrapper__main__image__drag__form"
              =i.check_box :_destroy, disabled: true, class: "exhibit-wrapper__main__image__drag__check-box"
            .exhibit-wrapper__main__image__cards_anchor
        = render partial: "errors", locals: {model: @item, column: :image}              
      .exhibit-wrapper__main__item
        .exhibit-wrapper__main__item__name
          %label 
            商品名
            %span 必須
          =f.text_field :title, class: "exhibit-wrapper__main__item__name__field", placeholder: "商品名（必須40文字まで）"
          = render partial: "errors", locals: {model: @item, column: :title}
        .exhibit-wrapper__main__item__content
          %label 
            商品の説明
            %span 必須
          =f.text_area :description, rows:"6", class: "exhibit-wrapper__main__item__content__area" , placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
          = render partial: "errors", locals: {model: @item, column: :description}
      .exhibit-wrapper__main__details
        .exhibit-wrapper__main__details-left
          %p 商品の詳細
        .exhibit-wrapper__main__details-right
          / （注）カテゴリーは必須実装でないのでひとまず外しています。
          -# %label 
          -#   カテゴリー
          -#   %span 必須
          -# .exhibit-wrapper__main__details-right__select-wrapper
            -# =f.select :category, ["---", "---"],{}, class: "exhibit-wrapper__main__details-right__select-wrapper__select" 
          %label 
            商品の状態
            %span 必須
          .exhibit-wrapper__main__details-right__select-wrapper
            =f.select :status, Item.statuses.keys, {prompt: "---"}, class: "exhibit-wrapper__main__details-right__select-wrapper__select"
            = render partial: "errors", locals: {model: @item, column: :status}
      .exhibit-wrapper__main__delivery
        .exhibit-wrapper__main__delivery-left
          %p 配送について
        .exhibit-wrapper__main__delivery-right
          %label 
            配送料の負担
            %span 必須
          .exhibit-wrapper__main__delivery-right__select-wrapper
            =f.select :shipping_charge, Item.shipping_charges.keys, {prompt: "---"}, class: "exhibit-wrapper__main__delivery-right__select-wrapper__select exhibit__shipping-charges"
            = render partial: "errors", locals: {model: @item, column: :shipping_charge}
          %label.exhibit__delivery-method
            配送の方法
            %span 必須
          .exhibit-wrapper__main__delivery-right__select-wrapper.exhibit__delivery-method
            =f.select :shipping_method, Item.shipping_methods.keys, {prompt: "---"}, class: "exhibit-wrapper__main__delivery-right__select-wrapper__select"
            = render partial: "errors", locals: {model: @item, column: :shipping_method}
          %label 
            発送元の地域
            %span 必須
          .exhibit-wrapper__main__delivery-right__select-wrapper
            =f.select :delivery_source, Item.delivery_sources.keys, {prompt: '---'}, class: "exhibit-wrapper__main__delivery-right__select-wrapper__select"
            = render partial: "errors", locals: {model: @item, column: :delivery_source}
          %label 
            発送までの日数
            %span 必須
          .exhibit-wrapper__main__delivery-right__select-wrapper
            =f.select :shipping_day, Item.shipping_days.keys, {prompt: '---'}, class: "exhibit-wrapper__main__delivery-right__select-wrapper__select"
            = render partial: "errors", locals: {model: @item, column: :shipping_day}
      .exhibit-wrapper__main__price
        .exhibit-wrapper__main__price-left
          %p 販売価格(300~9,999,999)
        .exhibit-wrapper__main__price-right
          .exhibit-wrapper__main__price-right__top
            %label
              価格
              %span 必須
            .exhibit-wrapper__main__price-right__top__form
              =f.text_field :price, class: "exhibit-wrapper__main__price-right__top__form__field", placeholder: "例）300"
              = render partial: "errors", locals: {model: @item, column: :price}
          .exhibit-wrapper__main__price-right__center
            %p 販売手数料(10%)
            %p -
          .exhibit-wrapper__main__price-right__bottom
            %p 販売利益
            %p -
      .exhibit-wrapper__main__footer
        .exhibit-wrapper__main__footer__content
          %p
            =link_to "禁止されている出品、行為", "#"
            を必ずご確認ください。
          %p 
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売", "#"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            =link_to "加盟店規約", "#"
            に同意したことになります。
        %label.exhibit-wrapper__main__footer__submit  
          .exhibit-wrapper__main__footer__submit-button
            = controller.action_name == "new" ? "出品する" : "編集する"
          =f.submit 
        %label.exhibit-wrapper__main__footer__back
          .exhibit-wrapper__main__footer__back-button もどる
          =button_to "もどる", class:"exhibit-wrapper__main__footer__button", type: "hidden"
    .exhibit-wrapper__footer
      .exhibit-wrapper__footer__top
        =link_to "プライバシーポリシー", "#"
        =link_to "メルカリ利用規約", "#"
        =link_to "特定商取引に関する表記", "#"
      .exhibit-wrapper__footer__logo
        =link_to "#" do
          =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195", class: "mercari-logo-bottom")
      .exhibit-wrapper__footer__bottom
        %p © 2019 Mercari