/ ヘッダーここまで

/ コンテンツ
.item-index__main__wrapper
  .item-index__main__contents
    .item-index__main__contents__header
      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?465897195'
    .item-index__main__contents__header-page
      .item-index__main__contents__header-page--prev
        %i.fas.fa-chevron-left
      .item-index__main__contents__header-page--next
        %i.fas.fa-chevron-right

    .item-index__main__contents__categories
      %h2.item-index__main__contents__categories-heading 人気のカテゴリー
      .categories__list
        %ul.categories__list-item
          %li
            = link_to "レディース", "#", class: "type" 
          %li
            = link_to "メンズ", "#", class: "type"
          %li
            = link_to "家電・スマホ・カメラ", "#", class: "type"
          %li
            = link_to "おもちゃ・ホビー・グッズ", "#", class: "type"
    .item-index__main__contents__categories-wrapper
      -if user_signed_in?
        .new__item
          .new__item-header{name: "#"}
            %h3.new__item-header-title あなたへのおすすめ
            = link_to "もっと見る", "#", class: "look"
          .new__item-collection
            %div
              %ul.new__item-collection-list
                - if @recommends.present?
                  -@recommends.each do |item|
                    =render partial: "item", locals:{item: item} 
      .new__item
        .new__item-header{name: "#"}
          %h3.new__item-header-title レディース新着アイテム
          = link_to "もっと見る", category_path(id: 1), class: "look"
        .new__item-collection
          %div
            %ul.new__item-collection-list
              -@ladis.each do |item|
                =render partial: "item", locals:{item: item} 
      .new__item
        .new__item-header{name: "#"}
          %h3.new__item-header-title メンズ新着アイテム
          = link_to "もっと見る", category_path(id:200), class: "look"
        .new__item-collection
          %div
            %ul.new__item-collection-list
              -@mens.each do |item|
                =render partial: "item", locals:{item: item} 
      .new__item
        .new__item-header{name: "#"}
          %h3.new__item-header-title 家電・スマホ・カメラ新着アイテム
          = link_to "もっと見る", category_path(id:898), class: "look"
        .new__item-collection 
          %div
            %ul.new__item-collection-list
              -@electronics.each do |item|
                =render partial: "item", locals:{item: item} 
      .new__item
        .new__item-header{name: "#"}
          %h3.new__item-header-title おもちゃ・ホビー・グッズ新着アイテム
          = link_to "もっと見る", category_path(id:685), class: "look"
        .new__item-collection
          %div
            %ul.new__item-collection-list
              -@toys.each do |item|
                =render partial: "item", locals:{item: item} 
    .item-index__main__contents__brands
      %h2.item-index__main__contents__brands-heading 人気のブランド
      .brands__list
        %ul.brands__list-item
          %li
            = link_to "シャネル", "#chanel-items", class: "brands"
          %li
            = link_to "ルイヴィトン", "#louisvuitton-items", class: "brands" 
          %li
            = link_to "ナイキ", "#nike-items", class: "brands" 
    .item-index__main__contents__brands-wrapper
      .new__item
        .new__item-header{name: "#"}
          %h3.new__item-header-title#chanel-items シャネル新着アイテム
          = link_to "もっと見る", "#", class: "look"
        .new__item-collection
          %div
            %ul.new__item-collection-list
              -@chanels.each do |item|
                =render partial: "item", locals:{item: item} 

      .new__item
        .new__item-header{name: "#"}
          %h3.new__item-header-title#louisvuitton-items ルイヴィトン新着アイテム
          = link_to "もっと見る", "#", class: "look"
        .new__item-collection
          %div
            %ul.new__item-collection-list
              -@louisvuittons.each do |item|
                =render partial: "item", locals:{item: item} 
      .new__item
        .new__item-header{name: "#"}
          %h3.new__item-header-title#nike-items ナイキ新着アイテム
          = link_to "もっと見る", "#", class: "look"
        .new__item-collection
          %div
            %ul.new__item-collection-list
              -@nikes.each do |item|
                =render partial: "item", locals:{item: item} 
/ コンテンツここまで

/ 出品ボタン
.exhibit
  = link_to new_item_path, class: "exhibit-button" do
    .exhibit-item
      .style 出品
      %i.fas.fa-camera
      / 出品ボタンここまで

/ aside
%aside
  .aside__menu
  .aside__menu__list
    .aside__menu__list-item
      .aside__menu__list-item-left
        .aside__menu__list-item-left-text1 スマホでかんたんフリマアプリ
        .aside__menu__list-item-left-text2 今すぐ無料ダウンロード！
        .aside__menu__list-item-left-logos
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png", class: 'mercari-icon'
          = link_to "#", target: "blank", class: "store" do
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: 'itunes'
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "blank", class: "store" do
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: 'google'
      %figure.aside__menu__list-item-right
        = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", class: 'aside__menu__list-item-right-img'
      / asideここまで

/ フッター
.item-index__footer
  %nav.item-index__footer__nav__infomation
    .item-index__footer__nav__infomation-top-left
      %h2.item-index__footer__nav__heading メルカリについて
      %ul.item-index__footer__nav-list
        %li
          = link_to "会社概要（運営会社）", "#", class: "infomation"
        %li
          = link_to "採用情報", "#", class: "infomation"
        %li
          = link_to "プレスリリース", "#", class: "infomation"
        %li
          = link_to "公式ブログ", "#", class: "infomation", target: "blank"
        %li
          = link_to "メルカリロゴ利用ガイドライン", "#", class: "infomation"
        = link_to "#", target: "blank" do
          %i.fab.fa-twitter
        = link_to "#", target: "blank" do
          %i.fab.fa-facebook-square
    .item-index__footer__nav__infomation-top-right
      %h2.item-index__footer__nav__heading ヘルプ＆ガイド
      %ul.item-index__footer__nav-list
        %li
          = link_to "メルカリガイド", "#", class: "infomation"
        %li
          = link_to "らくらくメルカリ便", "#", class: "infomation"
        %li
          = link_to "ゆうゆうメルカリ便", "#", class: "infomation"
        %li
          = link_to "大型メルカリ便", "#", class: "infomation"
        %li
          = link_to "車体取引ガイド", "#", class: "infomation"
        %li
          = link_to "メルカリあんしん・あんぜん宣言！", "#", class: "infomation", target: "blank"
        %li
          = link_to "偽ブランド品撲滅への取り組み",  "#", class: "infomation"
        %li
          = link_to "メルカリボックス", "#", class: "infomation"
    .item-index__footer__nav__infomation-middle
      .item-index__footer__nav__infomation-middle-left
        %h2.item-index__footer__nav__heading.privacy プライバシーと利用規約
        %ul.item-index__footer__nav-list
          %li
            = link_to "プライバシーポリシー", "#", class: "infomation"
          %li
            = link_to "メルカリ利用規約", "#", class: "infomation"
          %li
            = link_to "あんしんスマホサポート制度に関する利用特約", "#", class: "infomation"
          %li
            = link_to "コンプライアンスポリシー", "#", class: "infomation"
      .item-index__footer__nav__infomation-middle-right
        %ul.footer__nav-list
          %li
            = link_to "個人データの安全管理に係る基本方針", "#", class: "infomation"
          %li
            = link_to "特定商取引に関する表記", "#", class: "infomation"
          %li
            = link_to "資金決済法に基づく表示", "#", class: "infomation"
          %li
            = link_to "法令順守と犯罪抑止のために", "#", class: "infomation"
    .item-index__footer__nav__infomation-bottom
      %h2.footer__nav__heading 国
      %ul.footer__nav-list
        %li
          =link_to "日本", "#", class: "cuntory"
        %li
          =link_to "United States", "#", class: "cuntory"
  .item-index__footer__bottom
    = link_to "#", class: "bottom" do
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg", alt: 'Mercari', class: 'mercari-img'
    %span.copy-right © 2019 Mercari
/ フッターここまで


%script{nonce: "M2ZhNWYzNDYtOWVkNC00ZmQ3LTk5ZWYtYzg3ZDU5NGFjZWYz"}
:cdata
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KLPT5L5');
%script{nonce: "M2ZhNWYzNDYtOWVkNC00ZmQ3LTk5ZWYtYzg3ZDU5NGFjZWYz"}
:cdata
  window.dataLayer = window.dataLayer || [];
%script{nonce: "M2ZhNWYzNDYtOWVkNC00ZmQ3LTk5ZWYtYzg3ZDU5NGFjZWYz"}
:cdata
  if ('serviceWorker' in navigator && true) {
  window.addEventListener('load', function () {navigator.serviceWorker.register('/jp/service-worker.js').catch(function () {});
  });
  }
%div{style: "display: none; visibility: hidden;"}
:javascript
  !function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","1964320460558899");fbq("track","PageView");
%noscript
%div{style: "display: none; visibility: hidden;"}
:javascript
  var yahoo_ss_retargeting_id=1000300638,yahoo_sstag_custom_params=window.yahoo_sstag_params,yahoo_ss_retargeting=!0;
%script{src: "https://s.yimg.jp/images/listing/tool/cv/conversion.js", type: "text/javascript"}
%noscript
%script{id: "", type: "text/javascript"}
:cdata
  window.yjDataLayer=window.yjDataLayer||[];function ytag(){yjDataLayer.push(arguments)}ytag({type:"ycl_cookie"});
