!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "ie=edge, http-equiv, X-UA-Compatible"}/
    %title FreemarketSample61a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    // gem "font-awesome-sass" だと、本番（CentOS 6.7）で "sass" インストールができないため
    %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")

  %body{"data-controller" => controller_name, "data-action" => action_name}
    %noscript
      %iframe{height: "0", src: "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", style: "display:none;visibility:hidden", title: "googletagmanager", width: "0"}
    .item-index__wrapper
      .item-index__container

        / ヘッダー
        .item-index__header
          .item-index__header__contents
            .item-index__header__contents-top
              .item-index__header__contents-top-logo
                = link_to "#" do
                  = image_tag('https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', class: 'mercari-logo', alt: 'Mercari')
              %form.search
                %input.search__form{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
                %button.search__button
                  %i.fas.fa-search
            .item-index__header__contents-bottom
              .item-index__header__contents-bottom-left
                .item-index__header__contents-bottom-left-type
                  = link_to "#" do
                    %i.fas.fa-bars.icon
                    カテゴリーから探す
                  -# %div 
                    -# %ul
                      -# li
                .item-index__header__contents-bottom-left-type
                  = link_to "/items/1/purchases/new" do
                    %i.fas.fa-tags.icon
                    ブランドから探す
                  -# %div 
                    -# %ul
                      -# li 
              %ul.item-index__header__contents-bottom__list
                %li.item-index__header__contents-bottom__list-item
                  = link_to "#" do
                    -# %i
                %li.item-index__header__contents-bottom__list-item
                  = link_to "/users/sign_up" do
                    %i.far.fa-bell
                    お知らせ
                %li.item-index__header__contents-bottom__list-item
                  = link_to new_user_session_path do
                    %i.fas.fa-check
                    やることリスト
                %li.item-index__header__contents-bottom__list-item
                  = link_to "/users/1" do
                    = image_tag "https://msp.c.yimg.jp/yjimage?q=orl70awXyLHbWRUG_LCztRx6JYnp58wm3PFbNTESvckyr8NSp_VM_EOzYfO8my3helZRZHMgQS9wd8zt0ERVymJ_I3cZtXVR3f.uyYHx7LkjdOHrzRCaJKFQ3VONJ6mc8JAz9cjvqGJ6W_wxjR2A&sig=13a5kqspk&x=246&y=205", class: "current-user"
                    マイページ    
        = yield
