!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "ie=edge, http-equiv, X-UA-Compatible"}/
    %title FreemarketSample61a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    // gem "font-awesome-sass" だと、本番（CentOS 6.7）で "sass" インストールができないため
    %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
    -# payjp読み込み
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = favicon_link_tag('favicon.ico')
  %body{"data-controller" => controller_name, "data-action" => action_name}
    %noscript
      %iframe{height: "0", src: "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", style: "display:none;visibility:hidden", title: "googletagmanager", width: "0"}
    .item-index__wrapper
      .item-index__container
        / ヘッダー
        .item-index__header
          .item-index__header__contents
            .item-index__header__contents-top
              .item-index__header__contents-top-logo
                = link_to root_path do
                  = image_tag('https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', class: 'mercari-logo', alt: 'Mercari')
              =search_form_for @search, url: search_items_path ,html:{class:"search"} do |f|
                =f.text_field :title_or_description_or_brand_cont, placeholder: "何かお探しですか？", class: "search__form"
                =f.submit class:"search-submit-btn"
                =f.label "commit" do
                  %button.search__button
                    %i.fas.fa-search
            .item-index__header__contents-bottom
              .item-index__header__contents-bottom-left
                .item-index__header__contents-bottom-left-type
                  = link_to "#", class: "category-main__navigation__class__object" do
                    %i.fas.fa-bars.icon
                    カテゴリーから探す
                  .category-main__navigation
                    .category-main__navigation__class.category-main__navigation-l
                      - @categories.each do |category|
                        =render partial: "categories/category_object", locals: {category: category}
                    .category-main__navigation__class.category-main__navigation-m
                    .category-main__navigation__class.category-main__navigation-s
                .item-index__header__contents-bottom-left-type.item-index__header__contents-bottom-left-type-brand
                  = link_to "#" do
                    %i.fas.fa-tags.icon
                    ブランドから探す
                  .brand-main__navigation
                    .brand-main__navigation__class
                      =link_to "シャネル", search_items_path(q:{brand_cont: "シャネル"}), class: "brand-main__navigation__class__object"
                      =link_to "ルイヴィトン", search_items_path(q:{brand_cont: "ルイヴィトン"}), class: "brand-main__navigation__class__object"
                      =link_to "ナイキ", search_items_path(q:{brand_cont: "ナイキ"}), class: "brand-main__navigation__class__object"
                  -# %div 
                    -# %ul
                      -# li 
              %ul.item-index__header__contents-bottom__list
                -# 今回は使用しなかったタブです。
                -# %li.item-index__header__contents-bottom__list-item
                -#   = link_to new_user_session_path do
                -#     %i.far.fa-bell
                -#     お知らせ
                -# %li.item-index__header__contents-bottom__list-item
                -#   = link_to new_user_session_path do
                -#     %i.fas.fa-check
                -#     やることリスト
                - if user_signed_in?
                  %li.item-index__header__contents-bottom__list-item
                    = link_to user_path(current_user) do
                      = image_tag "https://msp.c.yimg.jp/yjimage?q=orl70awXyLHbWRUG_LCztRx6JYnp58wm3PFbNTESvckyr8NSp_VM_EOzYfO8my3helZRZHMgQS9wd8zt0ERVymJ_I3cZtXVR3f.uyYHx7LkjdOHrzRCaJKFQ3VONJ6mc8JAz9cjvqGJ6W_wxjR2A&sig=13a5kqspk&x=246&y=205", class: "current-user"
                      マイページ
                - else
                  %li.item-index__header__contents-bottom__list-item.item-index__header__contents-bottom__list-item__registration
                    =link_to "新規会員登録", start_user_registration_path
                  %li.item-index__header__contents-bottom__list-item.item-index__header__contents-bottom__list-item__session
                    =link_to "ログイン", new_user_session_path
                -# %li.item-index__header__contents-bottom__list-item
                -#   =link_to "登録完了", complete_users_path
                -# %li.item-index__header__contents-bottom__list-item
                -#   =link_to "クレジット",  new_card_users_path
                -# %li.item-index__header__contents-bottom__list-item
                -#   =link_to "ログアウト",  logout_users_path
                -# %li.item-index__header__contents-bottom__list-item
                -#   =link_to "住所", new_address_users_path                   
        = breadcrumbs separator: "&rsaquo; "  
        = yield
