!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "ie=edge, http-equiv, X-UA-Compatible"}/
    %title FreemarketSample61a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    // gem "font-awesome-sass" だと、本番（CentOS 6.7）で "sass" インストールができないため
    %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
    -# payjp読み込み
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    
  %body{"data-controller" => controller_name, "data-action" => action_name}

  .signup_header
    .signup_header__logo
      = link_to root_path, class: "signup_header__logo__link" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2651893653", class: "signup_header__logo__link__image"
    %nav.signup_header__bar
      %ol.signup_header__bar__group
        %li.signup_header_list.signup_active
          会員情報
          .signup_status
        %li.signup_header_list
          電話番号認証
          .signup_status
        %li.signup_header_list
          お届け先入所入力
          .signup_status
        %li.signup_header_list
          支払い方法
          .signup_status
        %li.signup_header_list
          完了
          .signup_status

  = yield

  .new-devise__single-footer
    %nav
      %ul.clearfix
        %li
          = link_to "https://www.mercari.com/jp/privacy/" do
            プライバシーポリシー
        %li
          = link_to "https://www.mercari.com/jp/tos/" do
            メルカリ利用規約
        %li
          = link_to "https://www.mercari.com/jp/tokutei/" do
            特定商取引に関する表記

      = link_to "https://www.mercari.com/jp/" do
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195', class: 'new-devise__single-footer-logo', alt: 'mercari', height: "65", width: "80")
      %p
        %small © 2019 Mercari